@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to SimpleStore</h1>
    <p>Manage your product inventory efficiently.</p>
    <p>
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-lg">
            View Products
        </a>
    </p>
</div>
